<div class="pt-5">
  <div class="display-6">Bugget App</div>
  <div class="row g-3 mt-4">
    <div class="col-md-5 mt-4 text-center">
      <%= button_to "Sign in", new_user_session_path, class:'btn btn-primary' %>
    </div>
    <div class="col-md-5 mt-4 text-center">
      <%= link_to "Sign up", new_user_registration_path, class:'btn btn-primary' %>
    </div>
  </div>
  <div class="h2 text-center">You're not logged in, please log into your account or sign in.</div>
</div>
