<div class="card mx-auto my-3">
  <%= link_to transact_path(transact), class: "custom-link" do %>
    <div class="card-body row">
      <h5 class="card-title col-8"><%= transact.name%> </h5>
      <div class="text-center my-2 col-4">
        <p class="card-text"><%= number_to_currency(transact.amount)%> </p>
      </div>
      <span class="col-4 small"><%= transact.created_at.to_date %></span>
    </div>
  <% end %>
</div>
