<% @categories.each do |category|%>
  <%= render 'category', category: category %>
<%end%>
<div class="add-button-container my-lg-5">
  <%= link_to 'Add new category', new_category_path, class:"custom-link add-button" %>
</div>
