<div class="row justify-content-lg-center px-2 category-container">
  <% @categories.each do |category|%>
    <%= render 'category', category: category %>
  <%end%>
</div>
<div class="add-button-container mt-5 my-lg-5">
  <%= link_to 'Add new category', new_category_path, class:"custom-link add-button" %>
</div>
