<div class="text-center">
  <h3><%= @category.name%></h3>
  <h5 class="text-center">Total = <%= number_to_currency(@transacts.sum(:amount)) %> </h5>
</div>
<div class="row justify-content-lg-center px-2 category-container">
  <% @transacts.each do |transact| %>
    <%= render 'transact', transact: transact%>
  <%end%>
</div>
<div class="add-button-container py-lg-4">
  <%= link_to 'Add a transaction', new_category_transact_path(@category), class: 'add-button custom-link' %>
</div>
